<div id="<%= dom_id campus_cat %>">
  <p>
    <strong>Name:</strong>
    <%= campus_cat.name %>
  </p>

  <p>
    <strong>Species:</strong>
    <%= campus_cat.species %>
  </p>

  <p>
    <strong>Age:</strong>
    <%= campus_cat.age %>
  </p>

  <p>
    <strong>Contact:</strong>
    <%= campus_cat.contact %>
  </p>

</div>
